version: "3.9"

services:

  web:
    build: .
    ports:
      - "8000:8000"
    environment:
      DB_HOST: db
      DB_NAME: testdb
      DB_USER: admin
      DB_PASSWORD: admin
    depends_on:
      - db

  db:
    image: postgres:15
    environment:
      POSTGRES_DB: testdb
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin